name: Docs Lint

on:
  pull_request:
    paths:
      - '**/*.md'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Markdownlint
        uses: avto-dev/markdown-lint@v1
        with:
          input: '.'

      - name: Lychee link check
        uses: lycheeverse/lychee-action@v1.11.0
        with:
          args: '--verbose --no-progress **/*.md'
